html, body
{
    margin: 0px;
    height: 100%;
    /*background-image: url("back-grad.png");
    background-repeat: repeat-y;
    background-position: center;*/
}

#myGame
{
    margin: 0px auto;
    border: 0px solid #41719C;
    position: relative;
}

#myGame canvas
{
    margin: 0px auto;
}

#play
{
    position: relative;
    width: 1054px;
    height: 150px;
    margin: 0 auto;
}

#myGame
{
    margin: 0px auto;
    /*height: 100%;*/
}

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait){
    /* some CSS here */
    #myGame
    {
        width: 100%;
    }

    #bar {
        width: 100%;
    }
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape){
    /* some CSS here */
    #myGame
    {
        width: 100%;
    }

    #bar {
        width: 100%;
    }
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px){
    /* some CSS here */
    #myGame
    {
        width: 100%;
    }

    #bar {
        width: 100%;
    }
}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
    /* some CSS here */
    #myGame
    {
        width: 100%;
    }

    #bar {
        width: 100%;
    }
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
    /* some CSS here */
    #myGame
    {
        width: 100%;
    }

    #bar {
        width: 100%;
    }
}

/* #### Desktops #### */
@media screen and (min-width: 1024px){
    /* some CSS here */
    #myGame
    {
        width: 1024px;
    }
}

.modalDialog {
    direction: rtl;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    /*background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);*/
}

.closeButtonPosition {
    position: absolute;
    left: -12px;
    top: -10px;
    line-height: 25px;
    text-align: center;
    width: 24px;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    text-align: center;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    margin-right: 10px;
}

.close:hover { background: #00d9ff; }

/*********************************************************************/

#bar_wrap {
    width: 1024px;
    position: relative;
    margin: 0 auto;
}

#bar_left {
    padding: 0px;
    background-color: #3A3A3A;
    width: 1024px;
    position: relative;
    margin: 0 auto;
    height: 38px;
}

#bar_right {
    padding: 0px;
    width: 400px;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 38px;
    margin: 0;
    float: right;
}

.bar_li {
    display: inline;
    display: inline-block;
    background-image: url("../images/settings/music2.png");
    width: 40px;
    height: 40px;
    position: relative;
    top: 3px;
    visibility: hidden;
}

#logout {
    background-position: -200px 0px;
    margin-left: 6px;
}

#tools {
    background-position: -80px 0px;
    margin-left: 37px;
}

#return {
    background-position: -280px 0px;
    margin-left: 37px;
}

#prize {
    background-position: -120px 0px;
    right: 78px;
    position: absolute;
    top: 0px;
}

#plus {
    background-position: -160px 0px;
    top: 3px;
    position: absolute;
    right: 2px;
    top: 0px;
}

.bar_option_arrow {
    z-index: 3;
    position: relative;
    background-image: url("../images/settings/music2.png");
    background-position: -240px 0px;
    margin-left: 37px;
    width: 40px;
    height: 20px;
    top: 38px;
    left: -40px;
}

.options {
    z-index: 3;
    position: relative;
    left: -100px;
    top: -10px;
}

#sub_options {
    padding: 0px;
    position: relative;
    top: 45px;
    width: 122px;

    padding: 1px 1px;
    background-color: black;
}

#sub_options li {
    display: block;
}

#sub_options li a {
    height: 1.2em;
    font-size: 1em;
    display: block;
    width: 120px;
    height: 26px;
    font-weight: bold;
    color: white;
    background-color: #3A3A3A;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: .2em 1em;
    margin: 0 auto;
}

#sub_options li a:hover {
    color: #2f92fc;
    background-color: #fff;
}

#audio {
    visibility: hidden;
    position: absolute;
    top: 227px;
    left: 268px;
}