<!DOCTYPE html>
<html>
<head>
    <title>Torah Squash</title>
    <style>
        body {
            margin: 0px;
        }
        #page {
            background-color: greenyellow;
            width: 1056px;
            height: 540px;
            margin: 0 auto;
        }
        #book_wrap {
            width: 350px;
            height: 450px;
            margin: 0 auto;
            padding-right: 350px;
        }
        #book {
            background-color: blueviolet;
            width: 350px;
            height: 450px;
        }
    </style>
</head>
<body>
    <section id="page">
        <section id="book_wrap">
            <section id="book">

            </section>
        </section>
    </section>
</body>
</html>